Information about Hardening Internet

Hi, CHEF-KOCH
I try to find a comment section or something but the only place I could find to contact you is here, otherwise in your email.
I wanna know if the following tweaks you recommend apply in Windows 10 20H1 (Windows 10 2004)

# IP Auto-Conf limit state
#Set-ItemProperty -Path "HKLM:\System\CurrentControlSet\Services\Tcpip\Parameters" -Name "EnableIPAutoConfigurationLimits" -PropertyType DWord -Value 1 -Force
# Turn off WSD
Set-ItemProperty -Path "HKLM:\System\CurrentControlSet\Services\Tcpip\Parameters" -Name "EnableWsd" -PropertyType DWord -Value 0 -Force
# Fragment Smack Denial of Service Vulnerability (ADV180022)
Set-NetIPv4Protocol -ReassemblyLimit 0
Set-NetIPv6Protocol -ReassemblyLimit 0
# Disable TCP/IP Auto-Tuning
# See here, http://technet.Microsoft.com/en-us/magazine/2007.01.cableguy.aspx
netsh.exe interface tcp set global autotuninglevel= disabled
# Affinity is OS controlled and never CPU, same like e.g. Core Parking and C-states.
# Application should exclusively ask MMCSS for its help otherwise nothing will be changed because the OS never knows if the app is MMCSS "optimized" or not.
#Set-ItemProperty -Path "HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Multimedia\SystemProfile\Tasks\Games" -Name "Affinity" -PropertyType DWord -Value 0
# (FIXME:) Set-ItemProperty -Path "HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Multimedia\SystemProfile\Tasks\Games" -Name "Background Only" -PropertyType REG_SZ "False"
# (FIXME:) Set-ItemProperty -Path "HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Multimedia\SystemProfile\Tasks\Games" -Name "Scheduling Category" -PropertyType REG_SZ "High"
# (FIXME:) Set-ItemProperty -Path "HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Multimedia\SystemProfile\Tasks\Games" -Name "SFIO Priority" -PropertyType REG_SZ "High"
#Set-ItemProperty -Path "HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Multimedia\SystemProfile\Tasks\Games" -Name "GPU Priority" -PropertyType DWord -Value 8
#Set-ItemProperty -Path "HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Multimedia\SystemProfile\Tasks\Games" -Name "Priority" -PropertyType DWord -Value 2
# Turn off ECN Capability
# As per RFC3168 http://tools.ietf.org/html/rfc3168
Set-NetTCPSetting -SettingName InternetCustom -EcnCapability Disabled | Out-Null
# Turn off Receive Segment Coalescing State (RSC)
Disable-NetAdapterRsc -Name * | Out-Null
# Turn off Large Send Offload (LSO)
Disable-NetAdapterLso -Name * | Out-Null
# Turn off Receive-Side Scaling State (RSS)
netsh int tcp set global rss=disabled | Out-Null
# Turn off "TCP Fast Open" due to privacy concerns
# RFC 7413
# Once enabled data can be sent before the connection complete!
# https://arxiv.org/pdf/1905.03518
# https://blogs.windows.com/msedgedev/2016/06/15/building-a-faster-and-more-secure-web-with-tcp-fast-open-tls-false-start-and-tls-1-3/
netsh int tcp set global fastopen=disabled | Out-Null
# Turn off ECN function
# Most (if not all routers) supporting large data traffic with "Explicit Congestion Notification" (ECN)
netsh int tcp set global ecncapability=enabled | Out-Null
# Turn off RFC 1323 )known as time stamps)
# Why? Because each data package gets 2,5 kb bigger and we want to avoid
# all "useless traffic".
netsh int tcp set global timestamps=disabled | Out-Null
#Disable-NetAdapterRsc -Name Ethernetx | Out-Null
#netsh int tcp set global RSC=disabled | Out-Null

I apply all of them, and I want just a information if the tweaks is really need to be applied in Windows 10 20H1 and which one is not necessary.

If I post in the wrong section, I apologize. I'm new here in GitHub and just learning how to use it.

As you can see from the commit history as well as [Release Page](https://github.com/CHEF-KOCH/Windows-10-hardening/releases), there is no final version (yet).

I need to check several things before there is a final version for 2004. It will be released and announced once I'm finished.

Oh ok, thanks for reply. The commands of the powershell needs a revision. 
I test the powershell commands and needs to create some Keys before the command could add the reg key, the following should fix it

Get-Item-Path
New-Item-Path "Location to Create Key" -Name KeyNametoCreateHere

Once again, thanks. 